@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body{
  margin: 0;
}



@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .ie{
    float: left;
    width: 50%;
  }

   .sl-column img{
     width: 25%;
   }

}

#sl-container{
  background: white;
  height: 680px;
  position: relative;
  font-family: 'Lato', sans-serif;
}

.sl-first-slide{
  display: grid;
  list-style: none;
  grid-template-columns: auto auto;
  padding: 100px;
}

.sl-second-slide{
  display: none;
  position: relative;
}

.sl-profil-img{
  display: block;
  margin: auto;
  width: 80%;
  max-width: 400px;
}

.sl-hr{
  width:10%;
  float:left;
  border: 1px solid rgba(0, 0, 0, 0.24);;
}

.sl-column{
  text-align: left;
}

.sl-column a{
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-size: 10px;
  color: rgba(0, 0, 0, 0.24);
}
.sl-column a:hover {
  background: black;
  color:white;
}

.sl-column p{
  line-height: 1.5;
  margin-bottom: 10%;
}

.sl-info{
  position: absolute;
  background: rgba(222, 222, 222, 0.72);
  background: #dededec9;
  width: auto;
  left: 2%;
  padding: 50px;
  right: 7%;
  max-height: 585px;
  max-width: 800px;
}

.sl-info p{
  line-height: 1.5;
  margin-bottom: 10%;
}

.sl-info a{
  padding: 20px;
  border: 1px solid grey;
  border: 1px solid rgba(0, 0, 0, 0.24);
  font-size: 10px;
  color: rgba(0, 0, 0, 0.24);
}

.sl-info a:hover{
  background: black;
  color:white;
}

.sl-column h2{
  font-size: 1em;
  color: rgba(0, 0, 0, 0.24);
}
.sl-info h2{
  font-size: 1em;
  color: rgba(0, 0, 0, 0.24);
}

.sl-slide-diseapper{
  -webkit-animation: fade-in 250ms;
  animation: fade-in 250ms;
}

.sl-background-img{
  background-image: url("./paysage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 622px;
}

.sl-slide-appear{
  -webkit-animation: fade-in 1000ms;
  animation: fade-in 1000ms;
}


/*  Flèches optionelles
.sl-arrow {
  box-sizing: border-box;
  height: 5vw;
  width: 5vw;
  border-style: solid;
  border-color: black;
  border-width: 0px 1px 1px 0px;
  transition:. border-width 150ms ease-in-out;
  position: absolute;
  top: 50%;
}

.arr-left{
    left: 24px;
    transform: rotate(135deg);
    z-index: 3;
}

.sl-arr-right{
  right: 24px;
  transform: rotate(317deg);
  z-index: 3;
}

.sl-arrow:hover {
  border-bottom-width: 4px;
  border-right-width: 4px;
}
*/

.sl-progress-bar {
  border-radius: 60px;
  overflow: hidden;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
}
.sl-progress-bar span {
  display: block;
}

.sl-bar {
  background: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin: auto;
}

.sl-progress {
  -webkit-animation: loader 8s ease infinite;
          animation: loader 8s ease infinite;
  background: #a9a9a9;
  color: #fff;
  padding: 1px;
  width: 0;
}

.sl-progress-bar {
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
          width: 100%;
          margin: auto;
          display: inline;
}


@keyframes fade-in {
  0% {
      opacity: 0;
 }
 100% {
    opacity: 1;
    display: none;
 }
}



@media (max-width: 1024px) {
  .ie{
   float: none;
   width: auto;
 }

  .sl-column img{
    width: auto;
  }

  #sl-container{
    height: auto;
  }

  .sl-first-slide{
    display: grid;
    grid-template-columns: auto;
  }

  .sl-second-slide-wrapper{
    position: inherit;
  }

  .sl-column{
    text-align: center;
  }

  .sl-hr{
    float: inherit;
  }

  .sl-info{
    position: initial;
    margin: auto;
    width: auto;
    text-align: center;
    padding: 100px;
    background: white;
    text-align: center;
    font-size: 1.7em;
    max-height: inherit;
    max-width: inherit;
  }

  .sl-info h1{
    font-size: 40px
  }

  .sl-column h1{
    font-size: 40px;
  }

  .sl-info h2{
    font-size: 16px;
    color: #00000038;
  }

  .sl-column h2{
    font-size: 16px;
    color: #00000038;
  }


  .sl-info a{
    font-size: 20px;
  }

  .sl-column p{
    font-size: 27px;
  }

  .sl-column a{
    font-size: 20px;
  }

  .sl-paysage-img{
    position: inherit;
    width:100%;
    margin-top: 45px;
    height: 488px;
  }

  .sl-profil-img{
    padding-top: 10%;
  }

  .sl-progress-bar{
    position: absolute;
    margin: auto;
    display: inline-block;
    padding-top: 20px;
  }
}
